name: Terraform Apply

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment (development/production)'
        required: true
        default: 'production'
      tag:
        description: 'Tag of the version to be deployed'
        required: true
        default: 'latest'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup AWS Credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-north-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Apply
      run: |
        cd ${{ github.workspace }}/${{ github.event.inputs.environment }}
        terraform init
        terraform apply -auto-approve -var "tag=${{ github.event.inputs.tag }}"
