name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment (development/production)'
        required: true
        default: 'production'
      image_version:
        description: 'To be destroyed'
        default: 'destroy'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup AWS Credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-north-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Delete All Images from ECR Repository
      run: |
        REPOSITORY_NAME=booking-api-ecr
        if aws ecr describe-repositories --repository-names "$REPOSITORY_NAME" > /dev/null 2>&1; then
          echo "Repository $REPOSITORY_NAME exists. Proceeding with image deletion."
          IMAGES=$(aws ecr list-images --repository-name $REPOSITORY_NAME --query 'imageIds[*]' --output json)
          if [ "$IMAGES" != "[]" ]; then
            aws ecr batch-delete-image --repository-name $REPOSITORY_NAME --image-ids "$IMAGES"
          else
            echo "No images to delete in $REPOSITORY_NAME."
          fi
        else
          echo "Repository $REPOSITORY_NAME does not exist. Skipping image deletion."
        fi
    
    - name: Terraform Destroy
      run: |
        cd ${{ github.workspace }}/${{ github.event.inputs.environment }}
        terraform init
        terraform destroy -auto-approve -var "image_version=${{ github.event.inputs.image_version }}"
