name: Terraform Apply

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment (development/production)'
        required: true
        default: 'production'
      tag:
        description: 'Tag of the version to be deployed'
        required: true
        default: 'latest'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
    
    - name: Change to Environment Directory
      run: cd ${{ github.workspace }}/${{ github.event.inputs.environment }}

    - name: Terraform Apply
      run: |
        terraform init
        terraform apply -auto-approve -var "tag=${{ github.event.inputs.tag }}"
